* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    height: 100px;
}

button:nth-child(1) {
    background: #ffc107;
}

button:nth-child(2) {
    background: #b3d7ff;
}

button:nth-child(3) {
    background: #e83e8c;
}

#box {
    background-image: url('https://zastavok.net/main/priroda/1425039062.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
